@import url('https://fonts.googleapis.com/css?family=Poiret+One|Lato:400italic,700italic,100italic,300italic,900italic|Cantarell:700italic,400')

body
  padding-top 61px
  font-family "Lato", "Poiret One", "Cantarell", sans-serif
  font-weight 900
  margin-bottom 95px

.navbar-header a.navbar-brand
  margin-top -15px
  margin-bottom -20px
  h6
    color #ddd

footer
  display block
  /* using bootsrap
  position absolute
  bottom 0
  width 100%
  height 60px
  background-color #e5e5e5
  */
  p
    margin-top 20px
    margin-bottom 05px

footer.page-footer
  padding-top 55px
  padding-bottom 0
  position fixed
  bottom 0
  width 100%
  background-color #ee6e73
  .footer-copyright
    overflow hidden
    height 40px
    line-height 15px
    color rgba(255,255,255,0.8)
    background-color rgba(51,51,51,0.08)

.navbar-form
  .form-group
    margin-right 10px

.toast-top-right
  top 60px

.toast-success
  background-color #101010