body
  padding-top 61px

.navbar-header a.navbar-brand
  margin-top -15px
  margin-bottom -20px
  h6
    color #ddd

footer
  position absolute
  bottom 0
  width 100%
  height 60px
  background-color #e5e5e5
  p
    margin-top 25px
    margin-bottom 10px