@import url("https://fonts.googleapis.com/css?family=Poiret+One|Lato:400italic,700italic,100italic,300italic,900italic|Cantarell:700italic,400");
body {
  padding-top: 61px;
  font-family: "Lato", "Poiret One", "Cantarell", sans-serif;
  font-weight: 900;
}
.navbar-header a.navbar-brand {
  margin-top: -15px;
  margin-bottom: -20px;
}
.navbar-header a.navbar-brand h6 {
  color: #ddd;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #e5e5e5;
}
footer p {
  margin-top: 25px;
  margin-bottom: 10px;
}
