base(href="/")
doctype
html
	head
		link(href="/faviconBlaze.ico" rel="shortcut icon" type="image/x-icon")
		link(rel="stylesheet" href="/css/bootstrap.css")
		link(rel="stylesheet" href="/vendor/toastr/toastr.css")
		link(rel="stylesheet" href="/css/site.css")
		title multivision
	body(ng-app='app')
		block main-content
		include scripts